<!doctype html>
<html ng-app="Schwiftology" class="no-js" lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Schwiftology</title>
    <link rel="stylesheet/scss" href="C:\Users\buddys\Desktop\Schwiftology\app\assets\stylesheets\application.css.scss">
  </head>
  <body ng-controller="homeController as vm">
    <div class="">
      <h1>{{vm.message}}</h1>
    </div>





    <script src="C:\Users\buddys\Desktop\Schwiftology\node_modules\angular\angular.js"></script>
    <script src="C:\Users\buddys\Desktop\Schwiftology\js\vendor\jquery.js"></script>
    <script src="C:\Users\buddys\Desktop\Schwiftology\js\vendor\what-input.js"></script>
    
    <script src="C:\Users\buddys\Desktop\Schwiftology\js\app.js"></script>
  </body>
</html>
