<!doctype html>
<html class="no-js" lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Schwiftology</title>
    <link rel="stylesheet" href="C:\Users\buddys\Desktop\Schiftology-1\ngApp\css\foundation.css">
    <link rel="stylesheet" href="C:\Users\buddys\Desktop\Schiftology-1\ngApp\css\app.css">
  </head>
  <body>
    <div class="">

    </div>





    <script src="C:\Users\buddys\Desktop\Schiftology-1\node_modules\angular\angular.min.js"></script>
    <script src="C:\Users\buddys\Desktop\Schiftology-1\ngApp\js\vendor\jquery.js"></script>
    <script src="C:\Users\buddys\Desktop\Schiftology-1\ngApp\js\vendor\what-input.js"></script>
    <script src="C:\Users\buddys\Desktop\Schiftology-1\ngApp\js\vendor\foundation.js"></script>
    <script src="C:\Users\buddys\Desktop\Schiftology-1\ngApp\js\app.js"></script>
  </body>
</html>
