
<div class="container" style="margin-top: 5em">
  <div class="row">
  <div class="text-center mb-3">
      <img src="https://fontmeme.com/permalink/171205/da1ac8fcc3d4d9c34459b7d6278d5b55.png" alt="get-schwifty-font" border="0" style="float: center">
    </div>
  </div>
</div>
    <div class="container">
      <div class="row">
        <div class="text-center mb-3">
      <h1><b>Artists</b></h1>
    </div>
  </div>
</div>


    <!-- Carousel -->
    <div class="container" style="margin-bottom: 3em; background-color: lightgray">
      <div class="row">
        <div class="col-sm-12">

          <div id="my-slider" class="carousel slide" data-ride="carousel">

                            <!-- indeicators dot nav -->
                            <ol class="carousel-indicators">
                              <li data-target="#my-slider" data-slide-to="0" class="active"></li>
                              <li data-target="#my-slider" data-slide-to="1"></li>
                              <li data-target="#my-slider" data-slide-to="2"></li>
                              <li data-target="#my-slider" data-slide-to="3"></li>
                              <li data-target="#my-slider" data-slide-to="4"></li>
                            </ol>

                            <!-- wrapper for sides -->
            <div class="carousel-inner" role="listbox">
              <div class="item active">
                <a href="C:\Users\buddys\Desktop\Schwiftology-1\App\app\views\chomppywings.html">
                <img src="C:\Users\buddys\Desktop\Rick and Morty Fan art\Choppywings fan art\2.png" alt="Rick and Morty Fan Art" />
                <div class="carousel-caption">
                  <h1>ChoppyWings Fan Art</h1>
                  </a>
                </div>
              </div>
                <div class="item">
                  <img src="C:\Users\buddys\Desktop\Rick and Morty Fan art\For carousel\slide 2.jpg" alt="Rick and Morty Fan Art" />
                  <div class="carousel-caption">
                    <h1>Slide Two</h1>
                  </div>
                </div>
                  <div class="item">
                    <img src="C:\Users\buddys\Desktop\Rick and Morty Fan art\For carousel\slide 3.jpg" alt="Rick and Morty Fan Art" />
                    <div class="carousel-caption">
                      <h1>Slide Three</h1>
                    </div>
                  </div>
                    <div class="item">
                      <img src="C:\Users\buddys\Desktop\Rick and Morty Fan art\DET9ddMXgAAyOgz.jpg" alt="Rick and Morty Fan Art" />
                      <div class="carousel-caption">
                        <h1>Slide Four</h1>
                      </div>
                    </div>
                      <div class="item">
                        <img src="C:\Users\buddys\Desktop\Rick and Morty Fan art\For carousel\slide 5.png" alt="Rick and Morty Fan Art" />
                        <div class="carousel-caption">
                          <h1>Slide Five</h1>
                        </div>
                      </div>
                </div>
              </div>


                            <!-- controls -->
            <a class="left carousel-control" href="#my-slider" role="button" data-slide="prev">
              <span class="gyphicon gyphicon-chevron-left" area-hidden="true"></span>
              <span class="sr-only">Previous</span>
            </a>

            <a class="right carousel-control" href="#my-slider" role="button" data-slide="next">
              <span class="gyphicon gyphicon-chevron-right" area-hidden="true"></span>
              <span class="sr-only">Next</span>
            </a>
          </div>

        </div>
      </div>
    </div>





    <!-- ThumbNails -->
    <div class="container" style="padding-top: 2em; border: Solid; margin-bottom: 3em; border-radius: 4em; background-color:lightgray">
      <div class="row">
        <div class="col-sm-6 col-md-3">
          <a href="#" class="thumbnail">
            <img src="C:\Users\buddys\Desktop\Rick and Morty Fan art\For carousel\slide 4.jpg" alt="Rick and morty thumbnail">
          </a>
        </div>

        <div class="col-sm-6 col-md-3">
          <a href="#" class="thumbnail">
            <img src="C:\Users\buddys\Desktop\Rick and Morty Fan art\For carousel\tumblr_odi5zn1Evl1r5upkpo1_500_1_large.png" alt="Rick and morty thumbnail">
          </a>
        </div>

        <div class="col-sm-6 col-md-3">
          <a href="#" class="thumbnail">
            <img src="C:\Users\buddys\Desktop\Rick and Morty Fan art\For carousel\images (1).jpg" alt="Rick and morty thumbnail">
          </a>
        </div>

        <div class="col-sm-6 col-md-3">
          <a href="#" class="thumbnail">
            <img src="C:\Users\buddys\Desktop\Rick and Morty Fan art\001.gif" alt="Rick and morty thumbnail">
          </a>
        </div>

        <div class="col-sm-6 col-md-3">
          <a href="#" class="thumbnail">
            <img src="C:\Users\buddys\Desktop\Rick and Morty Fan art\mr_meeseeks_box.jpg" alt="Rick and morty thumbnail">
          </a>
        </div>
        <div class="col-sm-6 col-md-3">
          <a href="#" class="thumbnail">
            <img src="C:\Users\buddys\Desktop\Rick and Morty Fan art\rick_and_morty_by_titasasa-daezs13.jpg" alt="Rick and morty thumbnail">
          </a>
        </div>
        <div class="col-sm-6 col-md-3">
            <a href="#" class="thumbnail">
              <img src="C:\Users\buddys\Desktop\Rick and Morty Fan art\wallup-386045.jpg" alt="Rick and morty thumbnail">
            </a>
          </div>
            <div class="col-sm-6 col-md-3">
              <a href="#" class="thumbnail">
                <img src="C:\Users\buddys\Desktop\Rick and Morty Fan art\CMKjHCMWIAEeuNL.jpg" alt="Rick and morty thumbnail">
              </a>
            </div>
              <div class="col-sm-6 col-md-3">
                <a href="#" class="thumbnail">
                  <img src="C:\Users\buddys\Desktop\Rick and Morty Fan art\9885b93de322869b6b81bf97cbbb9b4df2b35470_hq.jpg" alt="Rick and morty thumbnail">
                </a>
              </div>
    </div>
    </div>
