<div id="top" class="container" >
  <div class="row">
    <div class="text-center mb-3">
      <img src="https://fontmeme.com/permalink/171216/9967f9e957689618c07f3af1cc0865d1.png" alt="get-schwifty-font" border="0">
    </div>
    <div class="row">
      <div class="text-center mb-3">
      <img src="C:\Users\buddys\Desktop\Rick and Morty Fan art\plumbus.png" alt="Logo">
      </div>
    </div>
    <div class="row">
      <div class="text-center mb-3">
        <img src="https://fontmeme.com/permalink/171216/2f4b20bc5c1c89c92c767ba5afe18cdf.png" alt="get-schwifty-font" border="0">
        </div>
    </div>
  </div>
</div>

<div class="container">
  <div class="row">
    <div class="text-center">
    <img src="C:\Users\buddys\Desktop\Rick and Morty Fan art\18342738_456882814648705_1153914546892067081_n.png" alt="dinner">
    </div>
  </div>
</div>

<div class="container">
<div class="row">
<div class="">
  <!-- Insert sign up form and log in form and a continue and jerry field here. --->
</div>
</div>
</div>
