
<h1 style="margin-top: 5em" class="text-center mb-6">Videos</h1>



<div class="container text-center mb-6" style="background-color: lightgray">
  <div class="row">
      <iframe width="560" height="315" src="https://www.youtube.com/embed/-GC5rAX0xHg"
       frameborder="0" gesture="media" allow="encrypted-media" allowfullscreen></iframe>
  </div>
</div>

<div class="container text-center mb-6" style="background-color: lightgray">
  <div class="row">
    <iframe width="560" height="315" src="https://www.youtube.com/embed/laG93Re8Agw"
     frameborder="0" gesture="media" allow="encrypted-media" allowfullscreen></iframe>
  </div>
</div>
