<!doctype html>
<html class="no-js" lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Schwiftology</title>

    <link rel="stylesheet" href="C:\Users\buddys\Desktop\theme\Themes\js\font-awesome\css\font-awesome.css">
    <link href='https://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Merriweather:400,300,300italic,400italic,700,700italic,900,900italic' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="C:\Users\buddys\Desktop\theme\Themes\js\magnific-popup\magnific-popup.css">
    <link rel="stylesheet" href="C:\Users\buddys\Desktop\bower_components\bootstrap-3.3.7-dist\css\bootstrap.min.css">
    <link rel="stylesheet" href="C:\Users\buddys\Desktop\bower_components\bootstrap-3.3.7-dist\css\bootstrap-theme.css">

  </head>
  <body style="background-color: #f2f2f2;">
    <!-- Nav Bar -->
    <nav class="navbar navbar-default navbar-fixed-top">
      <div class="container">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="C:\Users\buddys\Desktop\Schiftology-1\App\app\views\public.html"><img src="https://fontmeme.com/permalink/171205/bb98c50b414261996d6cdb020cc198f6.png" alt="get-schwifty-font" border="0"></a>
        <div class="navbar-collapse collapse">
          <ul class="nav navbar-nav navbar-right">
            <li><a href="C:\Users\buddys\Desktop\Schiftology-1\App\app\views\public.html">Home</a></li>
            <li class="dropdown">
              <a class="dropdown-toggle" href="C:\Users\buddys\Desktop\Schiftology-1\App\app\views\Fan Art.html"
              data-toggle="dropdown">Fan Art<b class="caret"></b>
              <ul class="dropdown-menu">
                <li class="dropdown-header"><a href="C:\Users\buddys\Desktop\Schiftology-1\App\app\views\Fan Art.html" >Artists</a></li>
                <li><a href="C:\Users\buddys\Desktop\Schiftology-1\App\app\views\chomppywings.html">Chomppywings</a></li>
              </ul>
            </a></li>
            <li class="dropdown">
              <a href="" class="dropdown-toggle"
              data-toggle="dropdown">Videos<b class="caret"></b>
              <ul class="dropdown-menu">
                <li class="dropdown-header">Livestreams</li>
                <li><a href="#">Rick Livestreams</a></li>
                <li><a href="#">Morty Livestreams</a></li>
                <li class="dropdown-header"><a href="C:\Users\buddys\Desktop\Schiftology-1\App\app\views\videos.html">Fan Videos</a></li>
                <li><a href="#">Rick Videos</a></li>
                <li><a href="#">Morty Videos</a></li>
              </ul>
            </a></li>
            <li><a href="C:\Users\buddys\Desktop\Schiftology-1\App\app\views\forms.html">Forms</a></li>
            <li><a href="C:\Users\buddys\Desktop\Schiftology-1\App\app\views\Contact Us.html">Contact Us</a></li>
            <li class="dropdown">
              <a href="C:\Users\buddys\Desktop\Schiftology-1\App\app\views\Account.html" class="dropdown-toggle"
               data-toggle="dropdown">Account<b class="caret"></b></a>
              <ul class="dropdown-menu">
                <li class="dropdown-header"><a href="C:\Users\buddys\Desktop\Schiftology-1\App\app\views\Account.html">My Account</a></li>
                <li><a href="C:\Users\buddys\Desktop\Schiftology-1\App\app\views\Account.html">My Profile</a></li>
                <li><a href="#">Edit Account</a></li>
                <li><a href="#">Log Off</a></li>
              </ul>
            </li>
            <li><a href="C:\Users\buddys\Desktop\Schiftology-1\App\app\views\login.html">Log In</a></li>
            <li><a href="C:\Users\buddys\Desktop\Schiftology-1\App\app\views\Sign up.html">Join Us</a></li>
          </ul>
        </div>
      </div>
    </nav>


<h1 style="margin-top: 5em">Your Account</h1>


    <!-- Footer -->
    <footer class="page-footer mdb-color center-on-small-only">

        <!--Footer Links-->
        <div class="container">
            <div class="row">

                <!--First column-->
                <div class="col-md-3 offset-md-1">
                    <h5 class="title">End of The Page </h5>
                    <p>Here you can use rows and columns here to organize your footer content.</p>
                </div>
                <!--/.First column-->

                <hr class="hidden-md-up">

                <!--Second column-->
                <div class="col-md-2 offset-md-1">
                    <h5 class="title">Links</h5>
                    <ul>
                        <li><a href="#!">Link 1</a></li>
                        <li><a href="#!">Link 2</a></li>
                        <li><a href="#!">Link 3</a></li>
                        <li><a href="#!">Link 4</a></li>
                    </ul>
                </div>
                <!--/.Second column-->

                <hr class="hidden-md-up">

                <!--Third column-->
                <div class="col-md-2">
                    <h5 class="title">Links</h5>
                    <ul>
                        <li><a href="#!">Link 1</a></li>
                        <li><a href="#!">Link 2</a></li>
                        <li><a href="#!">Link 3</a></li>
                        <li><a href="#!">Link 4</a></li>
                    </ul>
                </div>
                <!--/.Third column-->

                <hr class="hidden-md-up">

                <!--Fourth column-->
                <div class="col-md-2">
                    <h5 class="title">Links</h5>
                    <ul>
                        <li><a href="#!">Link 1</a></li>
                        <li><a href="#!">Link 2</a></li>
                        <li><a href="#!">Link 3</a></li>
                        <li><a href="#!">Link 4</a></li>
                    </ul>
                </div>
                <!--/.Fourth column-->

            </div>
        </div>
        <!--/.Footer Links-->

        <hr>

        <!--Call to action-->
        <div class="call-to-action">
            <ul>
                <li>
                    <h5>Join Us Today :)</h5>
                </li>
                <li><a href="" class="btn btn-danger waves-light" mdbRippleRadius>Sign up!</a></li>
            </ul>
        </div>
        <!--/.Call to action-->

        <hr>

        <!--Social buttons-->
        <div class="text-center mb-3">

            <a class="btn-floating btn-small btn-fb waves-light" mdbRippleRadius><i class="fa fa-facebook"> </i></a>
            <a class="btn-floating btn-small btn-tw waves-light" mdbRippleRadius><i class="fa fa-twitter"> </i></a>
            <a class="btn-floating btn-small btn-gplus waves-light" mdbRippleRadius><i class="fa fa-google-plus"> </i></a>
            <a class="btn-floating btn-small btn-li waves-light" mdbRippleRadius><i class="fa fa-linkedin"> </i></a>
            <a class="btn-floating btn-small btn-git waves-light" mdbRippleRadius><i class="fa fa-github"> </i></a>
            <a class="btn-floating btn-small btn-pin waves-light" mdbRippleRadius><i class="fa fa-pinterest"> </i></a>
            <a class="btn-floating btn-small btn-ins waves-light" mdbRippleRadius><i class="fa fa-instagram"> </i></a>

        </div>
        <!--/.Social buttons-->

        <!--Copyright-->
        <div class="footer-copyright">
            <div class="container-fluid">
                © 2017 Copyright: <a href="#">  </a>

            </div>
        </div>
        <!--/.Copyright-->

    </footer>
    <!--/.Footer-->



    <script src="C:\Users\buddys\Desktop\Schiftology-1\node_modules\angular\angular.min.js"></script>
    <script src="C:\Users\buddys\Desktop\bower_components\jQuery\dist\jquery.js"></script>
    <script src="C:\Users\buddys\Desktop\bower_components\bootstrap-3.3.7-dist\js\bootstrap.min.js"></script>
    <script src="C:\Users\buddys\Desktop\theme\Themes\js\jquery-easing\jquery.easing.js"></script>
    <script src="C:\Users\buddys\Desktop\theme\Themes\js\scrollreveal\scrollreveal.js"></script>
    <script src="C:\Users\buddys\Desktop\theme\Themes\js\magnific-popup\jquery.magnific-popup.js"></script>

  </body>
</html>
