<!doctype html>
<html  lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Schwiftology</title>
    <link rel="stylesheet" href="C:\Users\buddys\Desktop\theme\Themes\js\font-awesome\css\font-awesome.css">


    <link rel="stylesheet" href="C:\Users\buddys\Desktop\theme\Themes\js\magnific-popup\magnific-popup.css">
    <link rel="stylesheet" href="C:\Users\buddys\Desktop\bower_components\bootstrap-3.3.7-dist\css\bootstrap.min.css">
    <link rel="stylesheet" href="C:\Users\buddys\Desktop\bower_components\bootstrap-3.3.7-dist\css\bootstrap-theme.css">

  </head>
  <body style="background-color: #f2f2f2">
</a>
    <!-- Nav Bar -->
    <nav class="navbar navbar-default navbar-fixed-top">
      <div class="container">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="C:\Users\buddys\Desktop\Schwiftology-1\App\app\views\public.html"><img src="https://fontmeme.com/permalink/171205/bb98c50b414261996d6cdb020cc198f6.png" alt="get-schwifty-font" border="0"></a>
        <div class="navbar-collapse collapse">
          <ul class="nav navbar-nav navbar-right">
            <li><a href="C:\Users\buddys\Desktop\Schwiftology-1\App\app\views\public.html">Home</a></li>
            <li class="dropdown">
              <a class="dropdown-toggle" href="C:\Users\buddys\Desktop\Schwiftology-1\App\app\views\Fan Art.html"
              data-toggle="dropdown">Fan Art<b class="caret"></b>
              <ul class="dropdown-menu">
                <li class="dropdown-header"><a href="C:\Users\buddys\Desktop\Schwiftology-1\App\app\views\Fan Art.html" >Artists</a></li>
                <li><a href="C:\Users\buddys\Desktop\Schwiftology-1\App\app\views\chomppywings.html">Chomppywings</a></li>
              </ul>
            </a></li>
            <li class="dropdown">
              <a href="" class="dropdown-toggle"
              data-toggle="dropdown">Videos<b class="caret"></b>
              <ul class="dropdown-menu">
                <li class="dropdown-header">Livestreams</li>
                <li><a href="#">Rick Livestreams</a></li>
                <li><a href="#">Morty Livestreams</a></li>
                <li class="dropdown-header"><a href="C:\Users\buddys\Desktop\Schwiftology-1\App\app\views\videos.html">Fan Videos</a></li>
                <li><a href="#">Rick Videos</a></li>
                <li><a href="#">Morty Videos</a></li>
              </ul>
            </a></li>
            <li><a href="C:\Users\buddys\Desktop\Schwiftology-1\App\app\views\forms.html">Forms</a></li>
            <li><a href="C:\Users\buddys\Desktop\Schwiftology-1\App\app\views\Contact Us.html">Contact Us</a></li>
            <li class="dropdown">
              <a href="C:\Users\buddys\Desktop\Schwiftology-1\App\app\views\Account.html" class="dropdown-toggle"
               data-toggle="dropdown">Account<b class="caret"></b></a>
              <ul class="dropdown-menu">
                <li class="dropdown-header"><a href="C:\Users\buddys\Desktop\Schwiftology-1\App\app\views\Account.html">My Account</a></li>
                <li><a href="C:\Users\buddys\Desktop\Schwiftology-1\App\app\views\Account.html">My Profile</a></li>
                <li><a href="#">Edit Account</a></li>
                <li><a href="#">Log Off</a></li>
              </ul>
            </li>
            <li><a href="C:\Users\buddys\Desktop\Schwiftology-1\App\app\views\login.html">Log In</a></li>
            <li><a href="C:\Users\buddys\Desktop\Schwiftology-1\App\app\views\Sign up.html">Join Us</a></li>
          </ul>
        </div>
      </div>
    </nav>




<div class="container" style="margin-top: 5em">
  <div class="row">
  <div class="text-center mb-3">
      <img src="https://fontmeme.com/permalink/171205/da1ac8fcc3d4d9c34459b7d6278d5b55.png" alt="get-schwifty-font" border="0" style="float: center">
    </div>
  </div>
</div>
    <div class="container">
      <div class="row">
        <div class="text-center mb-3">



      <h1><b>ChomyyyWings</b></h1>
    </div>
  </div>
</div>






    <!-- ThumbNails -->
    <div class="container" style="padding-top: 2em; border: Solid; margin-bottom: 3em;  border-radius: 2em; background-color: lightgray">
      <div class="row">
        <div class="col-sm-10 col-md-10 col-lg-10" style="float: center">
          <a href="http://choppywings.tumblr.com/" class="thumbnail">
            <img src="C:\Users\buddys\Desktop\Rick and Morty Fan art\Choppywings fan art\1.png">
          </a>
        </div>
      </div>
    </div>
    <div class="container" style="padding-top: 2em; border: Solid; margin-bottom: 3em; border-radius: 2em; background-color: lightgray">
      <div class="row">
        <div class="col-sm-4 col-md-4">
          <a href="http://choppywings.tumblr.com/" class="thumbnail">
            <img src="C:\Users\buddys\Desktop\Rick and Morty Fan art\Choppywings fan art\2.png" alt="Rick and morty thumbnail">
          </a>
        </div>

        <div class="col-sm-4 col-md-4">
          <a href="http://choppywings.tumblr.com/" class="thumbnail">
            <img src="C:\Users\buddys\Desktop\Rick and Morty Fan art\Choppywings fan art\3.png" alt="Rick and morty thumbnail">
          </a>
        </div>

        <div class="col-sm-4 col-md-4">
          <a href="http://choppywings.tumblr.com/" class="thumbnail">
            <img src="C:\Users\buddys\Desktop\Rick and Morty Fan art\Choppywings fan art\4.png" alt="Rick and morty thumbnail">
          </a>
        </div>
      </div>
      <div class="row">
        <div class="col-sm-4 col-md-4">
          <a href="http://choppywings.tumblr.com/" class="thumbnail">
            <img src="C:\Users\buddys\Desktop\Rick and Morty Fan art\Choppywings fan art\5.png" alt="Rick and morty thumbnail">
          </a>
        </div>
        <div class="col-sm-4 col-md-4">
          <a href="http://choppywings.tumblr.com/" class="thumbnail">
            <img src="C:\Users\buddys\Desktop\Rick and Morty Fan art\Choppywings fan art\6.png" alt="Rick and morty thumbnail">
          </a>
        </div>
        <div class="col-sm-4 col-md-4">
            <a href="http://choppywings.tumblr.com/" class="thumbnail">
              <img src="C:\Users\buddys\Desktop\Rick and Morty Fan art\Choppywings fan art\7.png" alt="Rick and morty thumbnail">
            </a>
    </div>
  </div>
</div>


<!-- Footer -->
<footer class="page-footer mdb-color center-on-small-only" style="background-color: lightgray">

    <!--Footer Links-->
    <div class="container">
        <div class="row">
          <!--Social buttons-->
    <div class="text-center mb-3">

        <a href="https://www.facebook.com/ChurchofRickandMorty/" class="btn-floating btn-small btn-fb waves-light" mdbRippleRadius><i class="fa fa-facebook"> </i></a>

        <a class="btn-floating btn-small btn-gplus waves-light" mdbRippleRadius><i class="fa fa-google-plus"> </i></a>

        <a class="btn-floating btn-small btn-ins waves-light" mdbRippleRadius><i class="fa fa-instagram"> </i></a>

    </div>
    <!--/.Social buttons-->

    <!--Copyright-->
    <div class="footer-copyright">
        <div class="container-fluid">
            © 2017 Copyright: <a href="#">  </a>
          </div>
        </div>
    </div>
    <!--/.Copyright-->

</footer>




    <script src="C:\Users\buddys\Desktop\bower_components\jQuery\dist\jquery.js"></script>
    <script src="C:\Users\buddys\Desktop\bower_components\bootstrap-3.3.7-dist\js\bootstrap.min.js"></script>
    <script src="C:\Users\buddys\Desktop\theme\Themes\js\jquery-easing\jquery.easing.js"></script>
    <script src="C:\Users\buddys\Desktop\theme\Themes\js\scrollreveal\scrollreveal.js"></script>
    <script src="C:\Users\buddys\Desktop\theme\Themes\js\magnific-popup\jquery.magnific-popup.js"></script>

  </body>
</html>
