<!DOCTYPE html>
<html ng-app="Schwiftology">

<head>
  <title>Schwiftology</title>
  <meta charset="utf-8">
  <base href="/" />
  
  <link rel="stylesheet" href="/ngApp/css/site.css"/>
</head>

<body>
  <div class="container">
        <h1>Schwiftology</h1>
        <div>

        </div>
        <hr />

        <ui-view></ui-view>
  </div>


  <script src="C:\Users\buddys\Desktop\Schiftology-1\ngApp\bundle.js"></script>

</body>

</html>
