<footer class="page-footer mdb-color center-on-small-only" >

    <!--Footer Links-->
    <div class="container">
        <div class="row">
          <!--Social buttons-->
    <div class="text-center mb-3">

        <a href="https://www.facebook.com/ChurchofRickandMorty/" class="btn-floating btn-small btn-fb waves-light" mdbRippleRadius><i class="fa fa-facebook"> </i></a>

        <a class="btn-floating btn-small btn-gplus waves-light" mdbRippleRadius><i class="fa fa-google-plus"> </i></a>

        <a class="btn-floating btn-small btn-ins waves-light" mdbRippleRadius><i class="fa fa-instagram"> </i></a>

    </div>
    <!--/.Social buttons-->

    <!--Copyright-->
    <div class="footer-copyright">
        <div class="container-fluid">
            © 2017 Copyright: <a href="#">  </a>
          </div>
        </div>
    </div>
    <!--/.Copyright-->

</footer>
<!--/.Footer-->
