<!-- Nav Bar -->
<nav class="navbar navbar-default navbar-fixed-top">
  <div class="container">
    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
      <span class="sr-only">Toggle navigation</span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
    </button>
    <a class="navbar-brand" href="C:\Users\buddys\Desktop\Schwiftology-1\App\app\views\public.html"><img src="https://fontmeme.com/permalink/171205/bb98c50b414261996d6cdb020cc198f6.png" alt="get-schwifty-font" border="0"></a>
    <div class="navbar-collapse collapse">
      <ul class="nav navbar-nav navbar-right">
        <li><a href="C:\Users\buddys\Desktop\Schwiftology-1\App\app\views\public.html">Home</a></li>
        <li><a href="">Videos</a></li>
        <li><a href="C:\Users\buddys\Desktop\Schwiftology-1\App\app\views\forms.html">Forms</a></li>
        <li class="dropdown">
          <a href="C:\Users\buddys\Desktop\Schwiftology-1\App\app\views\Account.html" class="dropdown-toggle"
           data-toggle="dropdown">Account<b class="caret"></b></a>
          <ul class="dropdown-menu">
            <li class="dropdown-header"><a href="C:\Users\buddys\Desktop\Schwiftology-1\App\app\views\Account.html">Account</a></li>
            <li><a href="C:\Users\buddys\Desktop\Schwiftology-1\App\app\views\Account.html">My Profile</a></li>
            <li><a href="#">Edit Account</a></li>
            <li><a href="#">Log Off</a></li>
          </ul>
        </li>
        <li><a href="C:\Users\buddys\Desktop\Schwiftology-1\App\app\views\login.html">Log In</a></li>
        <li><a href="C:\Users\buddys\Desktop\Schwiftology-1\App\app\views\Sign up.html">Join Us</a></li>
      </ul>
    </div>
  </div>
</nav>
