#top {
  margin-top: 5em;
}

#carousel {
  margin-bottom: 3em;
  background-color: lightgray;
}

#thumb {
  padding-top: 2em;
  border: Solid;
  margin-bottom: 3em;
  border-radius: 4em;
  background-color:lightgray
}

img {
  float: center;
}

footer {
  background-color: lightgray;
}
